@font-face {
  font-family: "ArialNarrow";
  src: url("./arialnarrow.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.container {
  text-align: center;
}

.warning-text {
  font-family: "ArialNarrow" !important; /* FORCE IT */
  font-size: 18px;
  color: black;
  margin-bottom: 20px;
  letter-spacing: 0.2px; /* helps show narrowness */
}

#buttonSprite {
  width: 160px;
  cursor: pointer;
  user-select: none;
}
